"*":
  "atom-beautify":
    _analyticsUserId: "024a507f-b4e6-49b9-9309-c4816f1f248d"
  "atom-ctags":
    cmdArgs: "--exclude=node_modules --exclude=.git --exclude=tmp --exclude=platforms --exclude=plugins"
  "autocomplete-elixir":
    elixirPath: "/usr/local/bin/elixir"
    erlangHome: "/usr/local/bin"
  core:
    disabledPackages: [
      "scheme-syntax"
      "symbol-gen"
      "racer"
      "nrepl"
      "linter-rust"
      "linter-clojure"
      "latex"
      "language-rust"
      "language-julia"
      "advanced-open-file"
      "atom-yeoman"
      "go-plus"
      "js-refactor"
      "atom-jshint"
      "haskell-ghc-mod"
      "ide-haskell"
      "autocomplete-haskell"
      "linter-jsonlint"
      "symbols-view"
      "language-sql"
      "language-ruby-on-rails"
      "language-ruby"
      "language-python"
      "language-php"
      "language-perl"
      "language-objective-c"
      "language-mustache"
      "language-java"
      "language-go"
      "language-coffee-script"
      "language-csharp"
      "language-clojure"
      "language-c"
      "atom-ctags"
      "autocomplete-elixir"
      "autocomplete-ruby"
      "language-elixir"
      "language-haskell"
      "language-nginx"
      "linter-rubocop"
      "markdown-pdf"
      "refactor"
      "script"
      "atom-runner"
      "atom-ternjs"
      "copy-as-rtf"
      "terminal-plus"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-light-ui"
      "one-light-syntax"
    ]
  editor:
    invisibles: {}
    showInvisibles: true
  "exception-reporting":
    userId: "a0604fbf-aa31-9cfe-17f6-bae5f2fdca20"
  "go-plus":
    goPath: "/Users/gh/gocode"
  "haskell-ghc-mod":
    additionalPathDirectories: [
      "/Users/gh/.cabal/bin"
    ]
    ghcModPath: "/Users/gh/.cabal/bin/ghc-mod"
    ghcModiPath: "/Users/gh/.cabal/bin/ghc-modi"
    stylishHaskellPath: "/Users/gh/.cabal/bin/stylish-haskell"
  "ide-haskell": {}
  "linter-rubocop":
    command: "/Users/gh/.rbenv/shims/rubocop"
  "linter-shellcheck":
    shellcheckExecutablePath: "/usr/local/bin/shellcheck"
  "lisp-paredit":
    strict: false
  "markdown-pdf": {}
  runner:
    extensions:
      scm: "scheme"
  source:
    javascript:
      editor:
        tabLength: 4
    json:
      editor:
        tabLength: 4
  welcome:
    showOnStartup: false
